.container {
  width: 1200px;
  height: auto;
  background-image: url('https://t4.ftcdn.net/jpg/02/95/67/11/360_F_295671130_iR0BG3MsTDibW9jFhZ0xkRxpKNgLKAvt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  border-radius: 10px;
  padding: 20px;
}


.header {
  background-color:lightcoral;
  padding:20px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: black;
}